<h1>New User</h1>
<%= form_for(@user) do |f| %>
    <%= f.label :name, "Username" %>
    <%= f.text_field :name, value: "username" %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "something@mail.com" %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "create" %>
<% end %>