
<h1>New User</h1>
<div>
<%= form_for(@user) do |f| %>
    <%= f.label :username, "User Name" %>
    <%= f.text_field :username, value: "name here" %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "mail" %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Create" %>
<% end %>
</div>

